# Practical session 1 - Some Python basics

Students (pair):
- [Ekhi Blanquart]([link](https://github.com/azagal952/))
- [Alexis Denisselle]([link](https://github.com/AlexisDns23/))

In [ ]:
%load_ext autoreload
%autoreload 2

## Documentation

To display the documentation associated to a Python function in your notebook (launched in VSCode), you can either
- run `?functionname` or `help(my_adder)`
- place your mouse pointer on the function name
- write the name of the function and start opening the brackets

## Zen of Python

In [ ]:
import this

## Reserved keywords

In [ ]:
import keyword
print(keyword.kwlist)

## Arithmetic

Compute 4 raised to the power 8

In [1]:
4**8

65536

Compute the quotient and the remainder of the euclidean division of 17 by 3.

In [2]:
17//3

5

In [3]:
17%3

2

Create two integer variables `a, b` of your choice and swap their content.

In [4]:
a=3
b=4
temp=a
a=b
b=temp
print(a)
print(b)

4
3

Modify `a` inplace, so that the new value of `a` is twice its previous value.

In [5]:
a=a*2
a

8

Define a complex number `z` and print it as

`(real=z.real, imag=z.imaginary)`

In [6]:
import cmath

In [7]:
z=complex(1,2)

In [8]:
print((z.real, z.imag))

(1.0, 2.0)

## Strings

Propose two ways to define an empty string

In [9]:
str1=""

In [10]:
str2=''

Define a string made of the 26 letters of the alphabet (lower case), then
- What is the 12th letter of the alphabet
- What are the 10 last letters of the alphabet
- What are the 5th to the 10th letters of the alphabet
- Create a new string where the 26 letters are converted to upper case.

In [11]:
alphabet="abcdefghijklmnopqrstuvwxyz"

In [12]:
alphabet[11]

'l'

In [13]:
alphabet[15:]

'pqrstuvwxyz'

In [14]:
alphabet[4:9]

'efghi'

In [15]:
alpha=alphabet.upper()
alpha

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

Extract the first 4 digits of the number `x = 2341324530045968` (answer is `2341`).

In [19]:
x =2341324530045968
s=str(x)
int(s[:4])

2341

## Lists

Propose two ways to define an empty list.

In [20]:
liste1=[]
liste2=list()
liste2

[]

Create the list of consecutive integers from 5 to 11.

In [21]:
l1=[]
for i in range(5, 12):
    l1.append(i)
l1

[5, 6, 7, 8, 9, 10, 11]

Add `100` to this list.

In [22]:
l1.append(100)

Given the following list, 
Change the `"sdia"` to its reverse (`"aids"`).

In [26]:
x = [10, [3, 4], [5, [100, 200, ["sdia"]], 23, 11], 1, 7]
x[2][1][2][0]=x[2][1][2][0][::-1]
x

[10, [3, 4], [5, [100, 200, ['aids']], 23, 11], 1, 7]

Given the following list, 

  1. extract the first two items
  2. extract the last two items
  3. find the index of the first occurence of `9`
  4. extract the items located at odd indices
  5. create a new list which corresponds to the reversed version of the originial list
  6. create a new list where each item of the original list is raised to the power 3

In [27]:
x = [3, 7, 5, 3, 8, 6, 8, 8, 0, 7, 3, 9, 3, 4, 2, 7, 0, 9, 5, 0, 0, 9, 0, 9, 3, 1, 4, 0, 5, 5, 5, 8, 9, 9, 5, 5, 4, 9, 5, 6, 2, 8, 5, 2, 4, 9, 2, 2, 3, 1]

In [28]:
x[:2]

[3, 7]

In [29]:
x[-2:]

[3, 1]

In [30]:
x.index(9)

11

In [31]:
x[1::2]

[7, 3, 6, 8, 7, 9, 4, 7, 9, 0, 9, 9, 1, 0, 5, 8, 9, 5, 9, 6, 8, 2, 9, 2, 1]

In [38]:
x.reverse()

In [39]:
x

[3,
 7,
 5,
 3,
 8,
 6,
 8,
 8,
 0,
 7,
 3,
 9,
 3,
 4,
 2,
 7,
 0,
 9,
 5,
 0,
 0,
 9,
 0,
 9,
 3,
 1,
 4,
 0,
 5,
 5,
 5,
 8,
 9,
 9,
 5,
 5,
 4,
 9,
 5,
 6,
 2,
 8,
 5,
 2,
 4,
 9,
 2,
 2,
 3,
 1]

In [40]:
print(list(map(lambda y : pow(y,3),x)))

[27, 343, 125, 27, 512, 216, 512, 512, 0, 343, 27, 729, 27, 64, 8, 343, 0, 729, 125, 0, 0, 729, 0, 729, 27, 1, 64, 0, 125, 125, 125, 512, 729, 729, 125, 125, 64, 729, 125, 216, 8, 512, 125, 8, 64, 729, 8, 8, 27, 1]

## Tuples


Propose two ways to define an empty tuple.

In [42]:
tuple1=()

In [44]:
tuple2=tuple()

Given the following tuple
- try to replace the second item (`4`) to `8`.
- modify the list so that the second element of the first item is raised to the power 5

In [49]:
x = ([1, 2, 3], 4)
##x[1]=8
x[0][1]=x[0][1]**5
x

([1, 32, 3], 4)

What is the main difference between a list and a tuple?

__List is mutable while tuple isn't !__

## Sets

Create an empty set

In [60]:
set1=set()

Compute the intersection between $A = \{1, 2, 3\}$ and $B = \{2, 4, 5, 6\}$.

In [51]:
A={1,2,3}
B={2,4,5,6}
A.intersection(B)

{2}

From the following set
- add the numbers 4, 5, 6
- remove the numbers 1, 2, 3
- check if the resulting set is contained in `{1, 2, 4, 5, 6, 10}`

In [52]:
x = {0, 1, 2, 3, 6, 7, 8, 9, 10}

In [56]:
x.add(4)
x.add(5)
x.add(6)

In [57]:
x.remove(1)
x.remove(2)
x.remove(3)

In [58]:
x

{0, 4, 5, 6, 7, 8, 9, 10}

In [59]:
x in {1, 2, 4, 5, 6, 10}

False

## Dictionnaries

Propose two ways to define an empty dictionary

In [61]:
emptyDict1 = {}

In [62]:
emptyDict2= dict()

Propose at least 3 ways to define a dictionary with 
- keys `("a", "b", "c", "d")`
- values `(1, 3, 5 , 7)`

In [64]:
dict1= {
    "a" : 1,
    "b" : 3,
    "c" : 5,
    "d" : 7
}
dict1

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

In [68]:
dict2=dict.fromkeys(("a","b","c","d"))
dict2["a"]=1
dict2["b"]=3
dict2["c"]=5
dict2["d"]=7
dict2

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

In [67]:
dict3= dict ({
    "a" : 1,
    "b" : 3,
    "c" : 5,
    "d" : 7
})
dict3

{'a': 1, 'b': 3, 'c': 5, 'd': 7}

Given the following dictionary, use indexing to get to the word `"sdia"`

In [2]:
d = {
    "outer": [
        1,
        2,
        3,
        {"inner": ["this", "is", "inception", {"inner_inner": [1, 2, 3, "sdia"]}]},
    ]
}

In [3]:
d["outer"][3]["inner"][3]["inner_inner"][3]

'sdia'

From the following dictionary,
- Create the list of keys
- Create the list of values
- Check if the key `"abc"` is present, if not, return `123`.
- Merge the initial dictionary with `{"e": -1, 4: True}`

In [5]:
d1 = dict(zip([(0, 1), "e", 1, None], ["abc", 4, None, 1 + 2j]))
my_keys=d1.keys()
my_values=d1.values()
print(my_keys)
print(my_values)

dict_keys([(0, 1), 'e', 1, None])
dict_values(['abc', 4, None, (1+2j)])

In [7]:
if "abc" in my_keys :
    print(True)
else :
    print(123)

123

In [11]:
d2=dict({"e": -1, 4: True})
new_dict={**d1, **d2}
new_dict

{(0, 1): 'abc', 'e': -1, 1: None, None: (1+2j), 4: True}

## Conditions

Propose two ways to construct the list of odd values ranging from 0 to 30

In [12]:
l1=[]
for k in range (31):
    if k%2==1:
        l1.append(k)
print(l1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [15]:
l2=[1]
k=1
while k<=30 :
    l2.append(k+2)
    k=k+2
print (l2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

From the following list, create another list which contains
- `"fiz"` if the item is a multiple of 5,
- `"buz"` if the item is a multiple of 7,
- `"fizbuz"` if the item is a both a multiple of 5 and 7,
- the index of the item otherwise.

In [16]:
x = [2, 1, 3, 31, 35, 20, 70, 132, 144, 49]
new_list=[]
for i in range (len(x)):
    if x[i]%5==0 and x[i]%7==0:
        new_list.append("fizbuz")
    elif x[i]%5==0:
        new_list.append("fiz")
    elif x[i]%7==0:
        new_list.append("buz")
    else :
        new_list.append(i)

print (new_list)

[0, 1, 2, 3, 'fizbuz', 'fiz', 'fizbuz', 7, 8, 'buz']

Given a string variable `course`, construct a `if/elif/else` statement that prints:
- `"That is very useful!"` if `course` is `"maths"` (any kind of capitalization)
- `"That is very useful!"` if `course` is `"python"` (any kind of capitalization)
- `"How nice!"` if `course` is `"meditation"` (any kind of capitalization)
- `"You're not at Hogwarts"` if `course` is `"magic"` (any kind of capitalization)
- otherwise `"What is this COURSE?"` if `course` is anything else.

In [19]:
course='python'

if course=="maths" :
    print ("That is very useful!")
elif course=="python" :
    print("That is very useful!")
elif course=="meditation" :
    print("How nice!")
elif course=="magic" :
    print("You're not at Hogwarts")
else :
    print("What is this COURSE?")

That is very useful!

Given the following variables, create and print the string

``quantity`` ``fruit``(s) cost(s) $``price``

such that
- there is an `"s"` at `"cost"` when there is more only one fruit,
- there is an `"s"` at `"fruit"` when there is more that one fruit,
- the price is displayed as ...,xxx,xxx.yy where yy corresponds rounded cents value

In [26]:
quantity = 3
fruit = "avocado"
price = 1.8912392e4

if quantity>1 :
    print (quantity, fruit + 's', 'cost $', f"{quantity*price :.2f}")
else :
    print (quantity, fruit, 'costs $', f"{quantity*price :.2f}")

3 avocados cost $ 56737.18

## Functions

Define the function `is_unique(x)` which takes a list of integers `x` as input and returns `True` if the there is no duplicate items otherwise return `False`.

In [27]:
def is_unique(x):
    return len(x) == len(set(x))
## because a set contains only unique element (no duplicates)

Define a function `triangle_shape(height)`, that returns 
- `""` if `height=0`, 
- otherwise it returns a string that forms a triangle with height prescribed by `height`.

**Examples**

height=1
```
x
```

height=2
```
 x 
xxx
```

height=3
```
  x  
 xxx 
xxxxx
```

height=4
```
   x   
  xxx  
 xxxxx 
xxxxxxx
```

height=5
```
    x    
   xxx   
  xxxxx  
 xxxxxxx 
xxxxxxxxx
```

height=6
```
     x     
    xxx    
   xxxxx   
  xxxxxxx  
 xxxxxxxxx 
xxxxxxxxxxx
```

In [34]:
def triangle_shape(height):
    if height==0:
        return ""
    else :
        triangle=""
        for i in range(1, height+1):
            triangle += " " * (height - i) + "*" * (2 * i - 1) + "\n"
        print(triangle)

triangle_shape(8)

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

In [1]:
pip install pytest

Requirement already satisfied: pytest in c:\users\utilisateur\anaconda3\lib\site-packages (6.2.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (20.3.0)
Requirement already satisfied: iniconfig in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (1.1.1)
Requirement already satisfied: packaging in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (20.9)
Requirement already satisfied: pluggy<1.0.0a1,>=0.12 in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (0.13.1)
Requirement already satisfied: py>=1.8.2 in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (1.10.0)
Requirement already satisfied: toml in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (0.10.2)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (1.4.0)
Requirement already satisfied: colorama in c:\users\utilisateur\anaconda3\lib\site-packages (from pytest) (0.4.4)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\utilisateur\anaconda3\lib\site-packages (from packaging->pytest) (2.4.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sphynx

Collecting sphynx
  Downloading sphynx-0.0.3-py3-none-any.whl (2.8 kB)
Collecting python-json-logger<3.0.0,>=2.0.1
  Downloading python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
Collecting structlog<22.0.0,>=21.1.0
  Downloading structlog-21.5.0-py3-none-any.whl (53 kB)
Installing collected packages: structlog, python-json-logger, sphynx
Successfully installed python-json-logger-2.0.7 sphynx-0.0.3 structlog-21.5.0
Note: you may need to restart the kernel to use updated packages.